.light-mode {
    --theme-ui-colors-highlight: #7f5af0 !important;
    --theme-ui-colors-text: #0d0d0d !important;
    --theme-ui-colors-background: #eff0f3 !important;
    --theme-ui-colors-card-background: #fffffe !important;
    --theme-ui-colors-highlight-text: #2a2a2a !important;
    --theme-ui-colors-icon: #7f5af0 !important;
    --theme-ui-colors-icon-background: #eff0f3 !important;
    --theme-ui-colors-card-shadow: 0 4px 8px 0 rgb(179, 179, 179), 0 6px 20px 0 rgb(179, 179, 179) !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-size: 1.1rem;
}


h1 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    color: currentColor;
}

a {
    color: var(--theme-ui-colors-highlight);
    text-decoration: none;
}

.main {
    --theme-ui-colors-highlight: #7f5af0;
    --theme-ui-colors-text: #fffffe;
    --theme-ui-colors-background: #16161a;
    --theme-ui-colors-card-background: #242629;
    --theme-ui-colors-highlight-text: #c3d2e6;
    --theme-ui-colors-icon: #7f5af0;
    --theme-ui-colors-icon-background: #fffffe;
    --theme-ui-colors-card-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
    background: var(--theme-ui-colors-background);
    color: var(--theme-ui-colors-text);
    transition: .5s;
}

.row {
    margin: 0;
}

/*Cookie Consent Begin*/

#cookie-consent {
    font-size: 1rem;
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 2;
    color: currentColor;
}

.cookie-okay {
    background: var(--theme-ui-colors-card-background);
    color: currentColor;
    border: none;
    transition: .5s;
}

/*Cookie Consent End*/

.left-div {
    height: 100vh;
    width: 100vw;
}

/* start-toggle theme */

.toggle-theme {
    position: absolute;
    right: 10px;
    top: 10px;
}

.toggle-theme-switch {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-theme-switch:before,
.toggle-theme-switch:after {
    content: "";
    display: block;
}

.toggle-theme-switch:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}

.toggle-theme-switch:after {
    background:
        linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
}

.toggle-theme-switch:checked {
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}

.toggle-theme-switch:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
}

.toggle-theme-switch:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
}

/* end-toggle theme */

.card {
    transition: .5s;
    margin: 5vh 0;
    height: 90vh;
    width: 100%;
    text-align: center;
    background: var(--theme-ui-colors-card-background);
    border-radius: .25rem;
    box-shadow: var(--theme-ui-colors-card-shadow);
    align-items: center;
    overflow-y: auto;
}

.card-img-top {
    width: 220px;
}

.card-body {
    padding: 0 1.25rem;
}

.card-title {
    margin-bottom: 0;
}

.card-sub-title {
    margin-bottom: .75rem;
    color: var(--theme-ui-colors-highlight);
}

.social-links {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links a {
    color: currentColor;
    text-decoration: none;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-bg {
    background: var(--theme-ui-colors-icon-background);
    padding: .5rem;
    border-radius: 50%;
}

.nav-link {
    cursor: pointer;
    margin: 1%;
}

.nav-link:hover {
    color: white;
    background-color: rgba(127, 90, 240, .7);
}

.nav-pills .nav-link.active {
    background-color: var(--theme-ui-colors-highlight);
}

.right-div {
    height: 100vh;
    width: 100vw;
}

#load {
    width: 100%;
    height: 100%;
    border-radius: .25rem;
}

/* styles for dialogflow messenger start */

df-messenger {
    --df-messenger-button-titlebar-color: #7f5af0;
    --df-messenger-button-titlebar-font-color: #fffffe;
}

/* styles for dialogflow messenger end */

/* 404 page styles begin */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* 404 page styles end */

/* responsive styles */

@media only screen and (max-width: 1075px) and (min-width: 992px) {
    h1 {
        font-size: 2.2rem;
    }
}