.light-mode {
    --theme-ui-colors-highlight: #7f5af0 !important;
    --theme-ui-colors-text: #0d0d0d !important;
    --theme-ui-colors-background: #eff0f3 !important;
    --theme-ui-colors-card-background: #eff0f3 !important;
    --theme-ui-colors-box-shadow-dark: #cbcccf !important;
    --theme-ui-colors-box-shadow-light: #ffffff !important;
    --theme-ui-colors-highlight-text: #2a2a2a !important;
    --theme-ui-colors-icon: #7f5af0 !important;
    --theme-ui-colors-icon-background: #eff0f3 !important;
    --theme-ui-colors-card-shadow: 0 4px 8px 0 rgb(179, 179, 179), 0 6px 20px 0 rgb(179, 179, 179) !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-size: 1.1rem;
}


h1 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    color: currentColor;
}

a {
    color: var(--theme-ui-colors-text);
    text-decoration: none;
}

.main {
    --theme-ui-colors-highlight: #7f5af0;
    --theme-ui-colors-text: #fffffe;
    --theme-ui-colors-background: #16161a;
    --theme-ui-colors-card-background: #16161a;
    --theme-ui-colors-box-shadow-dark: #0c0c0e;
    --theme-ui-colors-box-shadow-light: #24242b;
    --theme-ui-colors-highlight-text: #c3d2e6;
    --theme-ui-colors-icon: #7f5af0;
    --theme-ui-colors-icon-background: #fffffe;
    --theme-ui-colors-card-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
    background: var(--theme-ui-colors-background);
    color: var(--theme-ui-colors-text);
    transition: .5s;
    padding: 20px;
    padding-top: 90px;
}

.card {
    transition: .5s;
    height: 100vh;
    width: 90%;
    text-align: center;
    background: var(--theme-ui-colors-background);
    border-radius: 25px;
    box-shadow: 6px 6px 12px var(--theme-ui-colors-box-shadow-dark),
        -6px -6px 12px var(--theme-ui-colors-box-shadow-light);
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}